/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/public/mix-manifest.json
/public/analytics
/public/a
/public/assets
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/raw_data.csv
/public/raw_data_slim.csv
.DS_Store
/tools/php-cs-fixer/vendor
.php-cs-fixer.cache
/index.php
/composer.lock
/reports
/build
